/* header styles */

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;

    background-size: cover;


}


.header {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
    padding: 216px 230px 24px 845px;
}

.header-discription {
    width: 494px;
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;

    font-weight: 400;
    margin-left: 876px;
    margin-bottom: 32px;
}
.btn-position{
    margin-left: 1210px;
}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 64px;
    border: none;
    padding: 21px 25px 20px 26px;
    margin-bottom: 166px;
    

}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}