/* header styles */

header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;

    background-size: cover;


}


.header {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
    padding: 216px 230px 24px 845px;
}

.header-discription {
    width: 494px;
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;

    font-weight: 400;
    margin-left: 876px;
    margin-bottom: 32px;
}

.btn-position {
    margin-left: 1210px;

}

.btn-primary {
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: right;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    width: 160px;
    height: 64px;
    border: none;
    padding: 21px 25px 20px 26px;
    margin-bottom: 166px;



}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* failure section */
.failure {


    margin-top: 140px;
    background-image: url(../images/person.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-size: contain 894px;

}

.failure-header {

    margin-left: 862px;
    padding-top: 370px;
    width: 288px;
    color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;

    font-weight: 700;
    margin-bottom: 24px;
}

.failure-discription {
    margin-left: 862px;
    margin-bottom: 16px;
    width: 416px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;

    font-weight: 400;
}

.poient {
    margin-left: 862px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;

    font-weight: 400;
    margin-bottom: 8px;
}

/* plan styles */
.plan-header {
    margin-top: 140px;
    text-align: center;
    color: var(--Dark-01, #151414);
    font-size: 40px;

    font-weight: 700;
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    justify-content: center;
    gap: 99px;

}

.planning-header {
    margin-top: 24px;
    margin-bottom: 16px;
    color: var(--Dark-01, #151414);
    
    font-size: 30px;

    font-weight: 700;
}

.plan-discription {
    color: var(--Dark-03, #737272);
    
    
    font-size: 25px;
    
    font-weight: 500;
}